/out/production/JA_01_Lambda/my/lambdas/Client.class
/out/production/JA_01_Lambda/my/lambdas/IntegerCollectionManager.class
/out/production/JA_01_Lambda/my/lambdas/IntegerCollectionManager1.class
/out/production/JA_01_Lambda/my/lambdas/IntegerCollectionManager2.class
/out/production/JA_01_Lambda/my.zip
/src/my.zip
/out/production/JA_01_Lambda/my/lambdas/TransformInteger.class
/JA_01_Lambda.iml
