<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="false">

<!--    Можно зарегистрировать сервлет и таким образом, но аннотация лучше:-->
<!--    <servlet>-->
<!--        <servlet-name>TimeServlet</servlet-name>-->
<!--        <servlet-class>my.servlets.TimeServlet</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>TimeServlet</servlet-name>-->
<!--        <url-pattern>/time</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>